<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Чат с поддержкой
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-chat class="chat"></app-chat>
</ion-content>
