<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Активная задача
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-worker-task></app-worker-task>
</ion-content>
