<tui-avatar class="avatar" size="m" [avatarUrl]="room.photo" [text]="fullName" rounded="true">
</tui-avatar>
<div class="dialog-content">
<div class="heading">
    <span>{{fullName}}</span>
</div>
    <div class="dialog-message">
        <tui-line-clamp
                [content]="room.lastMessage"
                linesLimit="2"
        ></tui-line-clamp>
    </div>
</div>
