<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            История задач
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <tui-accordion *ngIf="isShowTasks" class="container" [rounded]="false" [closeOthers]="true">
        <tui-accordion-item *ngFor="let task of tasks" borders="top-bottom">
            <div class="task-header">
                <div class="task-date">
                    {{task.createdDate | date: "dd.MM"}}
                    <div class="task-month">{{task.createdDate | date:  "HH:mm"}}</div>
                </div>
                <div class="task-pic">
                    <fa-icon *ngIf="isFontAwesomeIcon(task.type)" size="lg" [icon]="getIconName(task.type)"></fa-icon>
                    <ion-icon *ngIf="isIonicIcon(task.type)" size="large" [name]="getIconName(task.type)"></ion-icon>
                </div>
                <div class="task-title">{{getTaskTypeDescription(task.type)}}</div>
                <div class="task-info">
                    <tui-money class="task-amount" [value]="task.cost"></tui-money>
                    <div class="task-status">
                        {{getStatusDescription(task.status)}}
                    </div>
                </div>
            </div>
            <ng-template tuiAccordionItemContent>
                <ion-card class="task-card no-scroll-bar-show">
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-list>
                                        <ion-item *ngFor="let address of task.addresses; let i = index">
                                            <ion-badge>{{i + 1}}</ion-badge>
                                            {{address.addressName}}
                                        </ion-item>
                                        <div *ngIf="isCustomer && isWorkerExist(task.worker)">
                                            <ion-label>Исполнитель</ion-label>
                                            <ion-item>
                                                <ion-label>ФИО</ion-label>
                                                {{task.worker.lastName}} {{task.worker.firstName}} {{task.worker.patronymic}}
                                                {{task.worker.phoneNumber}}
                                                <fa-icon icon="phone-alt"></fa-icon>
                                            </ion-item>
                                            <!--                      <ion-item>-->
                                            <!--                        <ion-label>Рейтинг</ion-label>-->
                                            <!--                        {{task.worker.rating}}-->
                                            <!--                        <ion-icon name="star"></ion-icon>-->
                                            <!--                      </ion-item>-->
                                            <ion-item>
                                                <ion-label>Фото</ion-label>
                                                <ion-avatar>
                                                    <ion-img [src]="task.worker.photo"></ion-img>
                                                </ion-avatar>
                                            </ion-item>
                                        </div>
                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
</ion-content>
