@import '~@taiga-ui/core/styles/taiga-ui-local';

.task-header {
  font: var(--tui-font-text-l);
  display: flex;
  align-items: center;
}

.task-date {
  font: var(--tui-font-text-xl);
  text-align: center;
}

.task-date,
.task-info {
  color: var(--tui-text-02);
}

.task-month,
.task-status {
  font: var(--tui-font-text-s);
}

.task-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 24px;
  background: var(--tui-secondary-active);
  border-radius: 100%;
  width: 48px;
  height: 48px;
  color: var(--tui-text-03);
}

.task-title {
  .text-overflow();
  margin-right: 24px;
  flex-grow: 1;
}

.task-info {
  text-align: right;
}

.task-status {
  &_success {
    color: var(--tui-success-fill);
  }

  &_error {
    color: var(--tui-error-fill);
  }
}

.form-title {
  font: var(--tui-font-heading-6);
  margin: 0 0 20px;
}

.input {
  max-width: 460px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
}
