<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <!--            <ion-menu-button></ion-menu-button>-->
            <ion-back-button (click)="closeChat()" *ngIf="isChatOpened" defaultHref=""
                             icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Чат с пацанами
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <tui-input *ngIf="!isChatOpened" icon="tuiIconSearchLarge" tuiTextfieldLabelOutside="true">
        Поиск чата
    </tui-input>

    <tui-scrollbar *ngIf="!isChatOpened">
        <div class="rooms-list">
            <app-chat-dialog class="app-chat-dialog" *ngFor="let room of rooms" [room]="room" (click)="openChat(room)">

            </app-chat-dialog>
        </div>
    </tui-scrollbar>
    <app-chat [isSupportChat]="true" [receiverId]="openedChatRoom.userId" *ngIf="isChatOpened"></app-chat>
</ion-content>
