:host {
  .user-photo {
    justify-content: center;
    display: flex;
    padding-top: 24px;
  }

  ion-list {
    margin-top: 24px;
    p {
      font-size: 12px;
      font-weight: 400;
      padding-bottom: 4px;
    };
    h2 {
      font-weight: 400;
      opacity: .5;
    }
  }
}
