<ion-content *ngIf="isUserDataLoaded">
    <div class="user-photo">
        <ion-avatar>
            <ion-img [src]="currentUser.photo"></ion-img>
        </ion-avatar>
    </div>
    <ion-list>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <p>Имя Пользователя</p>
                <h2>{{currentUser.username}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
                <p>ФИО</p>
                <h2>{{currentUser.firstName}} {{currentUser.lastName}} {{currentUser.patronymic}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>
                <p>Рейтинг</p>
                <h2>{{currentUser.rating | number: '1.2' }}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Номер телефона</p>
                <h2>{{currentUser.phoneNumber}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>
                <p>Почта</p>
                <h2>{{currentUser.email}}</h2>
            </ion-label>
        </ion-item>
        <ion-chip class="no-pointers-event" [color]="verified?'success':'danger'">
            <ion-icon
                    [name]="verified?'checkmark-circle-outline':'close-circle-outline'">
            </ion-icon>
            <ion-label [mode]="">{{verified ? 'Аккаунт верифицирован' : 'Ваш аккаунт не верифицирован'}}</ion-label>
        </ion-chip>

    </ion-list>
</ion-content>
