<ion-card class="finish-task-card no-scroll-bar-show">
    <ion-card-header >
    <ion-card-subtitle>Задача завершена!</ion-card-subtitle>
      <ion-card-title>Оцените исполнителя</ion-card-title>
    </ion-card-header>
  <ion-card-content>
      <div class="rating-area">
          <input (click)="rate(5)" type="radio" id="star-5" name="rating" value="5">
          <label for="star-5" title="Оценка «5»"></label>
          <input (click)="rate(4)" type="radio" id="star-4" name="rating" value="4">
          <label for="star-4" title="Оценка «4»"></label>
          <input (click)="rate(3)" type="radio" id="star-3" name="rating" value="3">
          <label for="star-3" title="Оценка «3»"></label>
          <input (click)="rate(2)" type="radio" id="star-2" name="rating" value="2">
          <label for="star-2" title="Оценка «2»"></label>
          <input (click)="rate(1)" type="radio" id="star-1" name="rating" value="1">
          <label for="star-1" title="Оценка «1»"></label>
      </div>
  </ion-card-content>
</ion-card>
