<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="isCurrentTaskExist" class="active-task-card no-scroll-bar-show">
        <ion-card-header>
            <ion-label>Задача №{{currentTask.id}}</ion-label>
            <ion-segment-button disabled>
                <fa-icon *ngIf="isFontAwesomeIcon(currentTask.type)" size="lg"
                         [icon]="getIconName(currentTask.type)"></fa-icon>
                <ion-icon *ngIf="isIonicIcon(currentTask.type)" size="large"
                          [name]="getIconName(currentTask.type)"></ion-icon>
                <ion-label>{{getTaskTypeDescription(currentTask.type)}}</ion-label>
            </ion-segment-button>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="auto">
                        <ion-list>
                            <ion-item *ngFor="let address of currentTask.addresses; let i = index">
                                <ion-badge
                                        class="address-badge"
                                        [color]=colorForActiveTaskAddressBadge(i)>
                                    {{i + 1}}
                                </ion-badge>
                                {{address.addressName}}
                                <ion-checkbox
                                        class="address-check-box"
                                        [checked]="isAddressChecked(i)"
                                        [disabled]="isAddressCheckInDisabled(i)"
                                        (ionChange)="onCheckInAddress(i)">
                                </ion-checkbox>
                            </ion-item>

                            <ion-item *ngIf="isTaskType('CLEANER')">
                                <ion-label>Площадь уборки</ion-label>
                                {{currentTask.categoryInfo.squareMeters}} м²
                            </ion-item>

                            <ion-item *ngIf="isTaskType('CLEANER')">
                                <ion-label>Мойка окон</ion-label>
                                {{currentTask.categoryInfo.isCleaningWindowOn?"Да":"Нет"}}
                            </ion-item>

                            <ion-item *ngIf="isTaskType('LOADER')">
                                <ion-label>Минуты работы грузчика</ion-label>
                                {{currentTask.categoryInfo.minutes}} мин
                            </ion-item>

                            <ion-item *ngIf="isTaskType('GARBAGE')">
                                <ion-label>Количество пакетов мусора</ion-label>
                                {{currentTask.categoryInfo.bagCount}} шт
                            </ion-item>

                            <ion-item>
                                <ion-label>Клиент</ion-label>
                                {{currentTask.customer.firstName}}  {{currentTask.customer.lastName}}
                                {{currentTask.customer.phoneNumber}}
                                <fa-icon icon="phone-alt"></fa-icon>
                            </ion-item>

                            <ion-item>
                                <ion-label>Комментарий к задаче</ion-label>
                                {{currentTask.comment}}
                            </ion-item>

                            <ion-item>
                                {{currentTask.cost}}
                                <fa-icon icon="ruble-sign"></fa-icon>
                            </ion-item>

                            <ion-item>
                                <ion-button *ngIf="canCancel" color="danger" size="small"
                                            (click)="onCancelTask()">Отменить задачу
                                </ion-button>
                                <ion-button *ngIf="canFinish" color="success" size="small"
                                            (click)="onFinishTask()">Завершить задачу
                                </ion-button>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
