<ion-header>
  <ion-toolbar>
    <ion-title>Выберите кем вы хотите зарегистрироваться</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="registrationType" (ionChange)="onChangeRegistrationType()">
    <ion-segment-button value="customer">
      <ion-label>Как пользователь</ion-label>
    </ion-segment-button>
    <ion-segment-button value="worker">
      <ion-label>Как исполнитель</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form [formGroup]="registrationForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Имя пользователя</ion-label>
              <ion-input
                      readonly
                      [formControl]=usernameControl
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input
                      readonly
                      [formControl]=emailControl
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Имя</ion-label>
              <ion-input
                      readonly
                      [formControl]=fistNameControl
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Фамилия</ion-label>
              <ion-input
                      readonly
                      [formControl]=lastNameControl
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="isWorkerRegistration">
              <ion-label position="floating">Отчество</ion-label>
              <ion-input
                      required
                      [formControl]=patronymicControl
              ></ion-input>
            </ion-item>
            <ion-item>
<!--              <ion-label position="floating">Номер телефона</ion-label>-->
              <ion-input
                      required
                      placeholder="Введите номер телефона с кодом +7"
                      [formControl]=phoneNumberControl
                      [disabled]="isPhoneNumberVerified"
              ></ion-input>
                <ion-chip *ngIf="isPhoneNumberVerified" class="no-pointers-event" color="success">
                    <ion-icon
                            name = 'checkmark-circle-outline'>
                    </ion-icon>
                    <ion-label>Верифицирован</ion-label>
                </ion-chip>
              <ion-button *ngIf="!isPhoneNumberVerified" [disabled]="isPhoneNumberInValid" (click)="sendLoginCode()">Выслать код</ion-button>
            </ion-item>
            <ion-item *ngIf="isShowVerifyPhoneNumberCodeButton">
              <ion-input
                      required
                      placeholder="Введите полученный код"
                      [formControl]=phoneNumberVerificationCodeControl
              ></ion-input>
              <ion-button [disabled]="isPhoneNumberCodeFormControlInValid" (click)="verifyLoginCode()">Подтвердить</ion-button>
            </ion-item>
            <div id="recaptcha-container"></div>
            <ion-item *ngIf="isWorkerRegistration">
              <app-image-picker
                      [showPreview]="true"
                      [selectedImage]="photoControl.value"
                      (imagePick)="onImagePicked($event)"
              ></app-image-picker>
            </ion-item>
            <ion-item>
              <ion-label>Согласение на обработку персональных данных</ion-label>
              <ion-checkbox [formControl]="isAgreedForPersonalDataProcessingControl"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-button *ngIf="!isWorkerRegistration" [disabled]="isRegistrationFormInvalid" (click)="onRegisterCustomer()">Зарегистрироваться</ion-button>
              <ion-button *ngIf="isWorkerRegistration" [disabled]="isRegistrationFormInvalid" (click)="onRegisterWorker()">Зарегистрироваться</ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>
