<ion-content *ngIf="isCustomerLoaded">
  <ion-list>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <p>Имя Пользователя</p>
        <h2>{{currentUser.username}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>
        <p>Имя и фамилия</p>
        <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <ion-label>
        <p>Номер телефона</p>
        <h2>{{currentUser.phoneNumber}}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>
        <p>Почта</p>
        <h2>{{currentUser.email}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
