
<ion-app>
  <tui-root>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Reshala</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages; let i = index">
            <ion-item *ngIf="page.isShowed" routerDirection="root" lines="none" detail="false" routerLinkActive="selected" [routerLink]="[page.url]" [disabled]="page.isDisabled">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-item *ngIf="isLoggedIn&&!isPartiallyRegistered &&(isCustomer || isVerifiedWorker) " routerDirection="root" routerLink="/account" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon *ngIf="isLoggedIn" name= 'wallet-outline' slot="start" ></ion-icon>
            <ion-label>Счет</ion-label>
          </ion-item>
          <ion-item *ngIf="isLoggedIn&&!isPartiallyRegistered" routerDirection="root" routerLink="/profile" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon *ngIf="isLoggedIn" name= 'person-circle-outline' slot="start" ></ion-icon>
            <ion-label>Профиль</ion-label>
          </ion-item>
          <ion-item *ngIf="isLoggedIn&&!isPartiallyRegistered" routerDirection="root" routerLink="/support" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name= 'chatbubbles-outline' slot="start" ></ion-icon>
            <ion-label>Поддержка</ion-label>
          </ion-item>
          <ion-item *ngIf="isLoggedIn&&isPartiallyRegistered" routerDirection="root" routerLink="/final-registration" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon name= 'key-outline' slot="start" ></ion-icon>
            <ion-label>Верификация</ion-label>
          </ion-item>
          <ion-item (click)="isLoggedIn?logout():login()" lines="none" button>
            <ion-icon name="exit" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{isLoggedIn?"Выйти":"Войти"}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  </tui-root>
</ion-app>
