<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      История операций
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <tui-accordion *ngIf="isShowTransactions" class="container" [rounded]="false" [closeOthers]="true">
    <tui-accordion-item *ngFor="let transaction of transactions" borders="top-bottom"  [disabled]="!transaction.description" [showArrow]="false">
      <div class="operation-header">
        <div class="operation-date">
          {{transaction.createdDate | date : "dd.MM"}}
          <div class="operation-month">{{transaction.createdDate | date: "HH:mm:ss"}}</div>
        </div>
        <div class="operation-pic">
          <fa-icon size="lg" icon="ruble-sign"></fa-icon>
        </div>
        <div class="operation-title">{{getTransactionTypeDescription(transaction.type)}}</div>
        <div class="operation-info">
          <tui-money class="operation-amount" [value]="getTransactionValueWithSign(transaction)" [colored]="true"></tui-money>
          <div class="operation-status">
            {{getStatusDescription(transaction.status)}}
          </div>
        </div>
      </div>
      <ng-template tuiAccordionItemContent>
        {{transaction.description}}
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</ion-content>

