<ion-content>
    <ion-searchbar placeholder="Поиск адреса" [formControl]="addressNameFormControl"></ion-searchbar>
    <ion-list>
        <ion-item button *ngFor="let address of foundedAddresses" (click)="onSelectAddress(address)">
            {{address}}
        </ion-item>
    </ion-list>
</ion-content>
