<ion-content class="content">
    <tui-scrollbar class="messages">
        <div >
            <div *ngFor="let message of messages" class="message-block" [class.right]="isSender(message)"
                 [class.left]="isReceiver(message)">
                <tui-island class="message" [class.right]="isSender(message)" [class.left]="isReceiver(message)">
                    <p *ngIf="isReceiver(message)" class="tui-island__category">{{message.senderName}}</p>
                    <p>
                        {{message.text}}
                    </p>
                    <img *ngIf="message.imageUrl" [src]="message.imageUrl"/>
                    <p class="tui-island__paragraph sent-info">
                        {{message.createdDate|date:"HH:mm"}}
                    </p>
                </tui-island>
            </div>
        </div>
    </tui-scrollbar>
        <form class='send-message-form' [formGroup]="sendMessageForm">
            <div class="tui-row tui-row_sme tui-container">
                <div class="tui-col_12 send-message-form-body">
                    <div class="tui-form__row flex">
                        <tui-text-area
                                class="tui-col_7 field-small"
                                [rows]="3"
                                [expandable]="true"
                                [tuiTextfieldLabelOutside]="true"
                                [formControl]="messageTextFormControl"
                                (keydown.enter)="onSendMessage()"
                        >
                            Напишите сообщение ...
                        </tui-text-area>
                      <tui-input-file
                              class="container tui-col_4"
                              link="Прикрепить"
                              size="l"
                              label=" "
                              accept="image/*"
                              [maxFileSize]="5000000"
                              [formControl]="imageFormControl"
                              (change)="onSelectFile()"
                      ></tui-input-file>
                        <div class="tui_col_1 button-block">
                            <button
                                    tuiIconButton
                                    type="button"
                                    shape="rounded"
                                    appearance="secondary"
                                    icon="tuiIconPlayLarge"
                                    size="m"
                                    [disabled]="isSendMessageFormInvalid"
                                    (click)="onSendMessage()"
                            >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</ion-content>

<!--https://linguatrip-blog.azurewebsites.net/blog/wp-content/uploads/2020/10/Z2.jpg-->
