.message {
  max-width: 70%;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.right{
  float: right;
  margin-right: 4px;
}

.left{
  float: left;
  margin-left: 4px;
}

tui-island.right{
  background-color: #e4eeff;
}

.message-block{
  width: 100%;
}

.sent-info{
  font-size: 10px;
  float: right;
}

.content{
  position: absolute;
}

.footer{
  position: absolute;
  bottom: 0;
  //height: 50px;
}

.messages{
  position: relative ;
  overflow: auto ;
  height: 90%;
  max-height: 90%;

}

.send-message-form{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.field-small {
  min-height: 48px;
  margin-right: 4px;
}

.button-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}

.send-message-form-body{
  position: absolute;
}

.flex{
  display: flex;
}
