<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Ваш профиль
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-customer-profile *ngIf="isCustomer"></app-customer-profile>
    <app-worker-profile *ngIf="isWorker" [verified]="isVerified"></app-worker-profile>
</ion-content>
