<ion-card class="accept-task-card no-scroll-bar-show">
  <ion-card-header >
    <ion-card-subtitle>Найдена задача!</ion-card-subtitle>
    <ion-card-title>Задача с типом {{taskTypeDescription}} и стоимостью {{task.cost}} руб.</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-progress-bar  [value]=timeLeft [color]="progressBarColor"></ion-progress-bar>
    <ion-button color="success" (click)="onAccept()">Принять</ion-button>
    <ion-button color="danger" (click)="dismiss()">Отказаться</ion-button>
  </ion-card-content>
</ion-card>
