<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Промокоды
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="form-container">
        <form [formGroup]="promocodeCreationForm">
            <div class="tui-form__row first">
                <tui-input-date formControlName="expiresAtValue">Действителен до</tui-input-date>
            </div>
            <div class="tui-form__row">
                <tui-input formControlName="codeValue">Код промокода</tui-input>
            </div>
            <div class="tui-form__row">
                <tui-input formControlName="descriptionValue">Описание промокода</tui-input>
            </div>
            <div class="tui-form__row tui-form__row_multi-fields">
                <div class="tui-form__multi-field">
                    <tui-select
                            formControlName="promocodeUnitValue"
                            [valueContent]="promocodeUnitContent"
                    >
                        Выберите единицы измерения промокода
                        <tui-data-list-wrapper
                                *tuiDataList
                                [items]="units"
                        ></tui-data-list-wrapper>
                    </tui-select>
                    <ng-template #promocodeUnitContent let-data>
                        <div class="uppercase-name">
                            {{data.name}}
                        </div>
                    </ng-template>
                    <tui-field-error
                            formControlName="promocodeUnitValue"
                    ></tui-field-error>
                </div>
            </div>

            <div class="tui-form__row">
                <tui-input-count formControlName="valueValue">
                    Значение
                </tui-input-count>
            </div>
            <div class="tui-form__row" *ngIf="promocodeCreationForm.controls.promocodeUnitValue.value.name=='PERCENT'">
                <tui-input-count>Максимальный размер скидки</tui-input-count>
            </div>
            <div class="tui-form__row">
                <tui-input-count formControlName="usagesCountValue">Кол-во использований</tui-input-count>
            </div>
            <div class="tui-form__row">
                <tui-multi-select
                        class="b-form"
                        [formControl]="taskCategoryControl"
                        [tuiTextfieldLabelOutside]="true"
                        tuiTextfieldExampleText="Применим к категориям"
                >Применим к категориям
                    <tui-data-list-wrapper
                            *tuiDataList
                            tuiMultiSelectGroup
                            [items]="taskCategories"
                    ></tui-data-list-wrapper>
                </tui-multi-select>
            </div>
            <div class="tui-form__row">
                <button
                        tuiButton
                        class="tui-form__button"
                        size="l"
                        type="submit"
                >
                    Создать
                </button>
            </div>
        </form>
    </div>
</ion-content>
