<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Главная
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button>-->
<!--  <ion-button expand="full" (click)="deleteMyToken()">Delete Token</ion-button>-->
<!--  <ion-button expand="full" (click)="listen()">Get notified</ion-button>-->
<!--  <ion-button expand="full" (click)="registration()">REGISTRATION</ion-button>-->
<!--  ID user-а: <b></b>-->
<!--  <ion-input type="text" (input)="updateLocation()"></ion-input>-->

  <app-task *ngIf="isCustomer" class="create-task"></app-task>
</ion-content>
