<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Счет
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="account">
    Ваш баланс {{account.balance}} <fa-icon icon="ruble-sign"></fa-icon>

    <form [formGroup]="depositEmulationForm">
      <div class="tui-row">
        <tui-input-number
                class="tui-col_md-4"
                [formControl]="depositSumFormControl"
                [postfix]="'RUB' | tuiCurrency"
        >
          Введите сумму
        </tui-input-number>
      </div>
      <button
              tuiButton
              type="button"
              class="tui-space_right-3 tui-space_bottom-3"
              appearance="secondary"
              [disabled]="isDepositEmulationFormButtonDisabled"
              (click)="onDepositEmulate()"
      >
        Пополнить
      </button>
    </form>
  </div>
</ion-content>
