<ion-content *ngIf="isLoaded">
    <agm-map class="google-map"
             [zoom]="15"
             [usePanning]="true"
             [latitude]="positions[0].latitude"
             [longitude]="positions[0].longitude"
             [streetViewControl]="false"
             (mapClick)=pickPosition($event)>
        <agm-marker *ngFor="let position of positions.slice(0, countOfAddressesForSelectedType+1)"
                    [visible]="position.isAccessAllowed"
                    [label]=position.label
                    [latitude]="position.latitude"
                    [longitude]="position.longitude">
        </agm-marker>
        <agm-marker
                *ngIf="isWorkerMarkerExist"
                [latitude]="activeTaskWorkerPosition.latitude"
                [longitude]="activeTaskWorkerPosition.longitude"
                [visible]="true"
                title="Местоположение исполнителя"
                iconUrl="assets/icons/position.png">
        </agm-marker>
    </agm-map>

    <ion-card *ngIf="!isFindingWorker&&!isActiveTask"
              [disabled]="isPickPositionForFormControl"
              class="no-scroll-bar-show"
    >
        <ion-card-header class="task-card-header">
            <ion-segment [(ngModel)]="selectedTaskType" (ionChange)="onChangeTaskType()" scrollable
                         class="no-scroll-bar-show task-type-select">
                <ion-segment-button value="COURIER" class="task-type-button">
                    <ion-icon name="cube"></ion-icon>
                    <ion-label>Доставка</ion-label>
                </ion-segment-button>
                <ion-segment-button value="CLEANER" class="task-type-button">
                    <fa-icon size="lg" icon="broom"></fa-icon>
                    <ion-label>Уборка</ion-label>
                </ion-segment-button>
                <ion-segment-button value="LOADER" class="task-type-button">
                    <fa-icon size="lg" icon="people-carry"></fa-icon>
                    <ion-label>Грузчик</ion-label>
                </ion-segment-button>
                <ion-segment-button value="GARBAGE" class="task-type-button">
                    <fa-icon size="lg" icon="trash-alt"></fa-icon>
                    <ion-label>Вынос мусора</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>

        <ion-card-content class="task-card-content">
            <form [formGroup]="createTaskForm">
                <div *ngFor="let address of addressesFormArrayFormGroups.slice(0,countOfAddressesForSelectedType); let i = index"
                     [formGroup]="address"
                     (change)="checkAndPrepareTask()"
                     class="tui-form__row flex">
                    <tui-input
                            [tuiTextfieldLabelOutside]="true"
                            (click)="openGoogleMapsSearchModal(i)"
                            class="tui-col_8 padding-left_0"
                            tuitext
                            tuiTextfieldSize="m"
                            formControlName="addressName"
                    >
                        Адрес {{i + 1}}
                    </tui-input>
                    <button
                            tuiButton
                            type="button"
                            size="m"
                            iconRight="tuiIconGeoLarge"
                            class="tui-col_4"
                            (click)="pickPositionForFormControl(i+1)"
                    >
                        Выбрать на карте
                    </button>
                </div>

                <div *ngIf="isTaskType('CLEANER')" class="tui-form__row flex">
                    <tui-input-count
                            [formControl]="squareMetersFormControl"
                            [step]="1"
                            [min]="12"
                            [max]="400"
                            (ngModelChange)="checkAndPrepareTask()"
                            tuiHintContent="Площадь помещения для уборки (мин 12 кв. метров)"
                            tuiTextfieldSize="m"
                            postfix="м²"
                            class="tui-col_8 padding-left_0"
                    ><span class="input-cleaner-square-meters-count-text"></span></tui-input-count>
                </div>

                <div *ngIf="isTaskType('CLEANER')" class="tui-form__row flex-toggle">
                    <h3>Мойка окон (+1200 ₽)</h3>
                    <tui-toggle [formControl]="isCleaningWindowOnFormControl"
                                [showIcons]="true"
                                (ngModelChange)="checkAndPrepareTask()"
                                size="l">
                    </tui-toggle>
                </div>

                <div *ngIf="isTaskType('LOADER')" class="tui-form__row flex">
                    <tui-input-count
                            [formControl]="minutesFormControl"
                            [step]="1"
                            [min]="15"
                            [max]="180"
                            (ngModelChange)="checkAndPrepareTask()"
                            tuiHintContent="Количество времени работы грузчика"
                            tuiTextfieldSize="m"
                            postfix="мин"
                            class="tui-col_8 padding-left_0"
                    ><span class="input-loader-minutes-count-text"></span></tui-input-count>
                </div>

                <div *ngIf="isTaskType('GARBAGE')" class="tui-form__row flex">
                    <tui-input-count
                            [formControl]="bagCountFormControl"
                            [step]="1"
                            [min]="3"
                            [max]="50"
                            (ngModelChange)="checkAndPrepareTask()"
                            tuiHintContent="Количество пакетов выносимого мусора"
                            tuiTextfieldSize="m"
                            postfix="шт"
                            class="tui-col_8 padding-left_0"
                    ><span class="input-bag-count-text"></span></tui-input-count>
                </div>


                <div class="tui-form__row flex">
                    <tui-input
                            [formControl]=commentFormControl
                            tuiTextfieldSize="m"
                            class="tui-col_8 padding-left_0"
                            tuitext
                    >
                        Комментарий курьеру
                    </tui-input>
                </div>
                <div class="tui-form__row flex">
                    <tui-input
                            [formControl]=promocodeFormControl
                            (input)="cancelPromocodeIfExist()"
                            tuiTextfieldSize="m"
                            class="tui-col_8 padding-left_0"
                            tuitext
                    >
                        Промокод
                    </tui-input>
                    <button
                            [disabled]="isPromocodeButtonDisabled"
                            (click)="onUsePromocode()"
                            tuiButton
                            type="button"
                            size="m"
                            class="tui-col_4"
                    >
                        Применить
                    </button>
                </div>
                <div class="tui-form__row">
                    <button
                            [disabled]="isCreateTaskButtonDisabled"
                            (click)="onStartFindingWorkerForTask()"
                            tuiButton
                            type="button"
                            size="m"
                            appearance="secondary"
                            class="tui-col_4 padding-left_0"
                    >
                        Заказать
                    </button>
                    <ion-chip *ngIf="taskCost" color="primary" class="task-cost-chip no-pointers-event">
                        <ion-spinner *ngIf="isLoadingCost" name="dots"></ion-spinner>
                        <ion-label *ngIf="!isLoadingCost">
                            <span class="final-cost">{{prepareTask.finalCost}}</span>
                            <fa-icon class="final-cost" icon="ruble-sign"></fa-icon>
                            <span *ngIf="prepareTask.promocode" class="cost">{{prepareTask.cost}}</span>
                            <fa-icon *ngIf="prepareTask.promocode" class="cost" icon="ruble-sign"></fa-icon>
                        </ion-label>

                    </ion-chip>
                </div>
            </form>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isFindingWorker" class="finding-worker task-card">
        <ion-card-content class="finding-worker-card-content">
            <ion-progress-bar type="indeterminate"></ion-progress-bar>
            <ion-text color="primary">
                <h1 class="finding-worker-text">Ищем для вашей задачи наиболее подходящего исполнителя</h1>
            </ion-text>

            <ion-item *ngFor="let address of addressesFormArray.value; let i = index">
                <ion-badge color="light">{{i + 1}}</ion-badge>
                <ion-input disabled>{{address.addressName}}</ion-input>
            </ion-item>
            <ion-button color="danger" size="small" (click)="onCancelTask()">Отменить задачу</ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="isActiveTask" class="no-scroll-bar-show">
        <ion-card-header>
            <ion-label>Задача №{{activeTask.id}}</ion-label>
            <ion-segment-button disabled>
                <fa-icon *ngIf="isFontAwesomeIcon(activeTask.type)" size="lg"
                         [icon]="getIconName(activeTask.type)"></fa-icon>
                <ion-icon *ngIf="isIonicIcon(activeTask.type)" size="large"
                          [name]="getIconName(activeTask.type)"></ion-icon>
                <ion-label>{{getTaskTypeDescription(activeTask.type)}}</ion-label>
            </ion-segment-button>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                        <ion-list>
                            <ion-item *ngFor="let address of activeTask.addresses; let i = index">
                                <ion-badge [color]=colorForActiveTaskAddressBadge(i)>{{i + 1}}</ion-badge>
                                {{address.addressName}}
                            </ion-item>

                            <ion-item *ngIf="isTaskType('CLEANER')">
                                <ion-label>Площадь уборки</ion-label>
                                {{activeTask.categoryInfo.squareMeters}} м²
                            </ion-item>

                            <ion-item *ngIf="isTaskType('CLEANER')">
                                <ion-label>Мойка окон</ion-label>
                                {{activeTask.categoryInfo.isCleaningWindowOn ? "Да" : "Нет"}}
                            </ion-item>

                            <ion-item *ngIf="isTaskType('LOADER')">
                                <ion-label>Минуты работы грузчика</ion-label>
                                {{activeTask.categoryInfo.minutes}} мин
                            </ion-item>

                            <ion-item *ngIf="isTaskType('GARBAGE')">
                                <ion-label>Количество пакетов мусора</ion-label>
                                {{activeTask.categoryInfo.bagCount}} шт
                            </ion-item>

                            <ion-label>Исполнитель</ion-label>
                            <ion-item>
                                <ion-label>ФИО</ion-label>
                                {{activeTask.worker.lastName}} {{activeTask.worker.firstName}} {{activeTask.worker.patronymic}}
                                {{activeTask.worker.phoneNumber}}
                                <fa-icon icon="phone-alt"></fa-icon>
                            </ion-item>
                            <ion-item>
                                <ion-label>Рейтинг</ion-label>
                                {{activeTask.worker.rating | number: '1.2'}}
                                <ion-icon name="star"></ion-icon>
                            </ion-item>
                            <ion-item>
                                <ion-label>Фото</ion-label>
                                <ion-avatar>
                                    <ion-img [src]="activeTask.worker.photo"></ion-img>
                                </ion-avatar>
                            </ion-item>

                            <ion-item>
                                <ion-label>Комментарий к задаче</ion-label>
                                {{activeTask.comment}}
                            </ion-item>

                            <ion-item>
                                {{activeTask.finalCost}}
                                <fa-icon icon="ruble-sign"></fa-icon>
                            </ion-item>

                            <ion-button *ngIf="isWorkerOnTheWay" size="small" color="danger" (click)="onCancelTask()">
                                Отменить задачу
                            </ion-button>

                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>
