.task-card-header {
  z-index: 2;
  height: 15vh;
}

.task-type-button {
  min-width: 12em;
}

.task-type-select {
  z-index: 2;
  height: 10vh;
}

.task-card-content {
  overflow: auto;
  height: 40vh;
}

.google-map {
  height: 39vh;
}

.flex {
  display: flex;
}

.flex-toggle {
  @extend .flex;
  flex-direction: column;
}

.task-cost-chip {
  width: fit-content;
  min-width: 100px;
  justify-content: center;
}

.finding-worker-text {
  text-align: center;
  font-style: italic;
}

.final-cost {
  font-style: normal;
}

.cost {
  opacity: 0.5;
  text-decoration: line-through;
}

span.cost {
  padding-left: 4px;
}

.input-cleaner-square-meters-count-text:before {
  content: 'Площадь уборки';
}

@media screen and (max-width: 500px) {
  .input-cleaner-square-meters-count-text:before {
    content: 'Площадь';
  }
}

.input-loader-minutes-count-text:before {
  content: 'Время работы грузчика';
}

@media screen and (max-width: 500px) {
  .input-loader-minutes-count-text:before {
    content: 'Время';
  }
}


.input-bag-count-text:before {
  content: 'Количество пакетов';
}

@media screen and (max-width: 500px) {
  .input-bag-count-text:before {
    content: 'Пакеты';
  }
}

